@charset "UTF-8";

@font-face {
    font-family: "montseratBold";
    src: url("/static/Fonts/Montserrat-Bold.ttf"); ;
}
@font-face {
    font-family: "montseratNormal";
    src: url("/static/Fonts/Montserrat-Medium.ttf"); ;
}
@font-face {
    font-family: "montseratLight";
    src: url("/static/Fonts/Montserrat-ExtraLight.ttf"); ;
}

.uploadMessage_Frame{
    background-color: #27ae60;
    color: white;
    width: 50%; 
    height: 40px;
    margin: 0 auto;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 18;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: uploadMessageFadeIn 1s ease;
    animation-fill-mode: forwards; 
    margin-bottom: 10px;
}

@keyframes uploadMessageFadeIn{
    0%{opacity: 0; transform: translate(0px, 50px);}
    100% {opacity: 1; transform: translate(0px, 0px);}
}

.frame{
    width: 100px;
    height: 100px;
    background-color: #323232;
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    padding: 20px;
    padding-top: 0px;
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    display: inline;
}

.timelineFrame{
    width: 700px;
    height: 5px;
    background-color: rgb(40,40,40);
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    float:left;
    text-align: left;
    font-size: 12;
    margin-bottom: 3px;
    vertical-align: middle;
    height: 16px;
    padding: 2.75px;
    padding-left: 10px;
    z-index: 1;
}

.navigation{
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgba(255,255,255,1);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/static/Images/Maps_Header/KingsRow.jpg");
    text-align: center;
    border-radius: 3px; 
    overflow: hidden;
    margin-bottom: 30px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130px;
    font-size: 16;
}

.match{
    width: 230px;
    height: 180px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: rgb(50,50,50);
    border-radius: 3px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    padding: 0;
    float:left;
}

.mapName{
    padding: 8px; 
    padding-left: 15px;
    color: white; 
    font-family: 'montseratNormal'; 
    position: relative; 
    margin-top: 10px; 
    width:fit-content; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.enlargeField{
    transition: 0.25s;
    transition-property: transform, filter;
}

.enlargeField:hover{
    transform: scale(1.025);
    filter: brightness(110%);
    cursor: pointer;
}

.matchImage{
    width:100%;
    height: 77px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.heroIcon{
    height:79px;
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
}

.dateField{
    font-size: large;
    color: rgb(50,50,50);
    border-bottom-width: 0 5px;
    border-bottom: solid rgb(50,50,50);
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

*{box-sizing: border-box;}

body{
    font-family: "montseratNormal";
    background-image: url("/static/Images/Background/background.jpg");
    background-repeat:no-repeat; 
    margin: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
    background: transparent; 
    margin:0;
    border: 0;
}
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(50,50,50);
    border-radius: 3px;
  }

table{
    width: 100%;
    border-collapse: collapse;
    color: rgba(255,255,255,1);
}

select{
    background-color: #2980b9;
    //appearance: none;
    border: none;
    padding: 5px;
    color: white;
    outline: none;
    font-family: "montseratNormal";
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

div{
    border-radius: 3px; 
}

g{
    text-align: center;
    font-size: smaller;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

.ko-progress-circle {
	margin: 20px auto;
	width:  120px;
	height: 120px;

	background-color: #D9D9D9;
	border-radius: 50%;
	}

    .ko-progress-circle__slice, .ko-progress-circle__fill {
        width:    120px;
        height:   120px;
        position: absolute;
        backface-visibility: hidden;
        transition: transform 1s;
        border-radius: 50%;
    }

    .ko-progress-circle__slice {
        clip: rect(0px, 120px, 120px, 120px/2);
    }

    .ko-progress-circle__fill {
        clip: rect(0px, 120px/2, 120px, 0px);
        background-color: #1291D4;
    }

	.ko-progress-circle__overlay {
		width:       105px;
		height:      105px;
		position:    absolute;
		margin-left: (120px - 105px)/2;
		margin-top:  (120px - 105px)/2;

		background-color: #fbfbfb;
		border-radius: 50%;
	}

    [data-tooltip-bottom]:hover,
[data-tooltip-left]:hover,
[data-tooltip-right]:hover,
[data-tooltip]:hover {
	position: relative;
}
[data-tooltip-bottom]:hover::after,
[data-tooltip-left]:hover::after,
[data-tooltip-right]:hover::after,
[data-tooltip]:hover::after {
	all: initial;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;		  
	border-top: 10px solid #1a1a1a;
	position: absolute;
	bottom: 100%;
	content: '';
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 5px;
}
[data-tooltip-right]:hover::after {
	margin-bottom: 0;
	bottom: auto;
	transform: rotate(90deg) translate(0, -50%);
	left: 100%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px;
}
[data-tooltip-left]:hover::after {
	margin-bottom: 0;
	bottom: auto;
	transform: rotate(-90deg) translate(0, -50%);
	left: auto;
	right: 100%;
	top: 50%;
	margin-right: -5px;
	margin-top: -5px;
}
[data-tooltip-bottom]:hover::after {
	margin-bottom: 0;
	bottom: auto;
	transform: rotate(180deg) translate(-50%, 0);
	top: 100%;
	margin-left: -20px;
	margin-top: 5px;
}
[data-tooltip-bottom]:hover::before,
[data-tooltip-left]:hover::before,
[data-tooltip-right]:hover::before,
[data-tooltip]:hover::before {
	all: initial;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	background-color: #1a1a1a;
	content: attr(data-tooltip);
	color: #f9f9f9;
	position: absolute;
	bottom: 100%;
	width: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
}
[data-tooltip-right]:hover::before {
	margin-bottom: 0;
	bottom: auto;
	transform: translate(0, -50%);
	left: 100%;
	top: 50%;
	content: attr(data-tooltip-right);
	margin-left: 15px;
}
[data-tooltip-left]:hover::before {
	margin-bottom: 0;
	bottom: auto;
	transform: translate(0, -50%);
	left: auto;
	right: 100%;
	top: 50%;
	content: attr(data-tooltip-left);
	margin-right: 15px;
}
[data-tooltip-bottom]:hover::before {
	margin-bottom: 0;
	bottom: auto;
	top: 100%;
	content: attr(data-tooltip-bottom);
	margin-top: 15px;
}