@font-face {
    font-family: "montseratBold";
    src: url("/static/Fonts/Montserrat-Bold.ttf"); ;
}
@font-face {
    font-family: "montseratNormal";
    src: url("/static/Fonts/Montserrat-Medium.ttf"); ;
}
@font-face {
    font-family: "montseratLight";
    src: url("/static/Fonts/Montserrat-ExtraLight.ttf"); ;
}

.frame{
    width: 140px;
    height: 140px;
    background-color: rgb(50,50,50);
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    padding: 20px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.largeframe{
    width: 340px;
    height: 350px;
    background-color: rgb(50,50,50);
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    padding: 20px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.longframe{
    width: 740px;
    height: 350px;
    background-color: rgb(50,50,50);
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    padding: 20px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.timelineFrame{
    width: 700px;
    height: 18px;
    background-color: rgb(80,80,80);
    border-radius: 3px; 
    color: rgba(255,255,255,1);
    padding: 20px;
    float:left;
    margin: 0px;
    text-align: left;
    font-size: smaller;
}

.navigation{
    padding-top: 70;
    padding-bottom: 70;
    color: rgba(255,255,255,1);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/static/Images/Maps_Header/KingsRow.jpg");
    text-align: center;
    border-radius: 3px; 
    overflow: hidden;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.match{
    width: 300px;
    height: 245px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: rgb(50,50,50);
    border-radius: 3px;
    overflow: hidden;
    color: rgb(50, 50, 50);
    padding: 0;
    float:left;
}

.mapName{
    padding: 8px; 
    padding-left: 15px;
    color: white; 
    font-family: 'montseratNormal'; 
    position: relative; 
    margin-top: 10px; 
    width:fit-content; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.enlargeField{
    transition: 0.25s;
    transition-property: transform;
}

.enlargeField:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.matchImage{
    width:100%;
    height:100px;
    background-size:contain;
}

.heroIcon{
    height:79px;
    padding: 0px;
    margin: 0px;
    margin-right: 4px;
}

.dateField{
    font-size: large;
    color: rgb(50,50,50);
    border-bottom-width: 0 5px;
    border-bottom: solid rgb(50,50,50);
    margin-bottom: 20px;
    width: 100%;
    display: flow-root;
}

body{
    font-family: "montseratNormal";
    background-image: url("/static/Images/Background/background.jpg");
    background-repeat:no-repeat; 
    margin: 50px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

table{
    width: 100%;
    border-collapse: collapse;
    color: rgba(255,255,255,1);
}

select{
    background-color: #2980b9;
    //appearance: none;
    border: none;
    padding: 5px;
    color: white;
    outline: none;
    font-family: "montseratNormal";
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

.ko-progress-circle {
	margin: 20px auto;
	width:  120px;
	height: 120px;

	background-color: #D9D9D9;
	border-radius: 50%;
	}

    .ko-progress-circle__slice, .ko-progress-circle__fill {
        width:    120px;
        height:   120px;
        position: absolute;
        -webkit-backface-visibility: hidden;
        transition: transform 1s;
        border-radius: 50%;
    }

    .ko-progress-circle__slice {
        clip: rect(0px, 120px, 120px, 120px/2);
    }

    .ko-progress-circle__fill {
        clip: rect(0px, 120px/2, 120px, 0px);
        background-color: #1291D4;
    }

	.ko-progress-circle__overlay {
		width:       105px;
		height:      105px;
		position:    absolute;
		margin-left: (120px - 105px)/2;
		margin-top:  (120px - 105px)/2;

		background-color: #fbfbfb;
		border-radius: 50%;
	}

	$i: 0;
	$increment: 180deg / 100;
	@while $i <= 100 {
		&[data-progress='#{$i}'] {
				.ko-progress-circle__slice.full, .ko-progress-circle__fill {
          transform: rotate($increment * $i);
				}	
				.ko-progress-circle__fill.ko-progress-circle__bar {
					transform: rotate($increment * $i * 2);
				}
      $i: $i + 1;
		}
	}
}